.long-word-break
{
    word-wrap:break-word;
}

.result-table-cell
{
    width: 80px;
    height: 80px;
    text-align: center;
}

.fill-red
{
    background-color: red;
}

.fill-green
{
    background-color: green;
}

.fill-orange
{
    background-color: orange;
}

.fill-light-green
{
    background-color: #00a000;
}

.padding-10
{
    padding: 10 10 10 10;
}

.text-align-center
{
    text-align: center;
    margin: 0 auto;
}

.result-table
{
    display: inline-block;
}

h1, h2, h3, h4, h5, h6
{
    font-family: roboto; 
    font-weight: 100;
}

.font-size-18
{
    font-size: 18;
}

