{% load staticfiles %}

<html>
<head>
    <title> Data smashing </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'data_smashing_app/bootstrap/css/bootstrap.min.css' %}">

    <!-- Optional theme --> 
    <link rel="stylesheet" href="{% static 'data_smashing_app/bootstrap/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'data_smashing_app/css/style.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'data_smashing_app/bootstrap/js/bootstrap.min.js' %}"></script>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <h1 style="font-family: roboto; font-weight: 100;">Data smashing</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
            {% block main %}{% endblock %}
            </div>        
    </div>

</body>

</html>